@import './fonts';
@import './vars';
@import './mixins/adaptiveFont.scss';


html{
    font-family: $defaulte-font;
    color: $main-color;
    @include adaptiv-font(40, 30);
    line-height: 1.30 !important;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: darken($color: $accent, $amount: 10%);
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}

section {
    padding: 5% 0;
}

.title{
    text-align: center;
}

.navigation{
    &__block{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link{
        font-weight: 700;
        transition: .2s ease-in;
        
        &:hover{
            color: $white-decorated;
        }
    }
}

.mt-30{
    margin-top: 30px;
}

footer{
    font-size: 0.4em;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

//blocks
@import './blocks/header.scss';
@import './blocks/features.scss';
@import './blocks/keepInTouch.scss';

@import './media.scss';


@import './libs';